node_modules/
.env
.env.*
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
.nyc_output/
coverage/
dist/
build/
.cache/
.sass-cache/
*.log
.parcel-cache/
.next/
.turbo/
/.pnp/
.pnp.js
/.venv/
